/oinkvalley_board/
/oinkvalley_profile/
/oinkvalley_bubble_pal_api/
/oinkvalley_bubble_pal_engine/
/oinkvalley_content_fetcher/
# legacy layout (pre-namespace rename)
/board/
/profile/
/bubble_pal_api/
/bubble_pal_engine/
/content_fetcher/
/dist/
/*.egg-info/
/__pycache__/
/pyproject.toml
